<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531561579744-h98djfutto2huvlrj39n32r8ikvnhm2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531561579744-h98djfutto2huvlrj39n32r8ikvnhm2e</string>
	<key>API_KEY</key>
	<string>AIzaSyDRrSi3_tg29V4pmZ_-OgCmYVMs3rfOak0</string>
	<key>GCM_SENDER_ID</key>
	<string>531561579744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mathslegends.mathslegends</string>
	<key>PROJECT_ID</key>
	<string>mathlegends-7b1f9</string>
	<key>STORAGE_BUCKET</key>
	<string>mathlegends-7b1f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531561579744:ios:b72dd7ad9af68a425ffc85</string>
</dict>
</plist>